<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nitjsr.urja22admin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_urja"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/icon_urja"
        android:supportsRtl="true"
        android:theme="@style/Theme.Urja22Admin"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpdateMatchesActivity"
            android:exported="false"
            android:label="@string/title_update_matches"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddMatchesActivity"
            android:exported="false"
            android:label="@string/title_add_matches"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>